<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <style>
        h1 {
            margin-top: 50px;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Welcome to the Blogging Tool</h1>
    <div id="home-links">
        <a href="/author">Author Home Page</a>&emsp;&emsp;&emsp;
        <a href="/reader">Reader Home Page</a>
    </div>
</body>

</html>