<!DOCTYPE html>
<html>

<head>
    <title>Main Home Page</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <style>
        h1 {
            margin-top: 50px;
            text-align: center;
        }
    </style>
</head>

<body>
    <a class="auth-link">Main Home Page</a>
    <h1>Welcome to the Blogging Tool</h1>
    <div class="home-links">
        <% if (userLoggedIn) { %>
            <a class="link" href="/author">Author Home Page</a>&emsp;&emsp;&emsp;
        <% } else { %>
            <a class="link" href="/authentication">Author Home Page</a>&emsp;&emsp;&emsp;
        <% } %>
        <a class="link" href="/reader">Reader Home Page</a>
    </div>
</body>

</html>
